<!DOCTYPE html>
<html>
<head>
	<title>Basic Auth</title>
</head>
<body>
<h1>Basic Auth</h1>
Existing User <a href="/login"> Login here </a> |
New User <a href="/register"> Register here </a>
</body>
</html>